/*===========================
	FUENTES
===========================*/
@font-face {
	font-family: 'EurostileLTStd';
	src: url('../fonts/Eurostile/EurostileLTStd.eot');
	src: url('../fonts/Eurostile/EurostileLTStd.eot') format('embedded-opentype'),
		 url('../fonts/Eurostile/EurostileLTStd.woff2') format('woff2'),
		 url('../fonts/Eurostile/EurostileLTStd.woff') format('woff'),
		 url('../fonts/Eurostile/EurostileLTStd.ttf') format('truetype'),
		 url('../fonts/Eurostile/EurostileLTStd.svg#EurostileLTStd') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd Lt.woff') format('woff'); 
		 
}

@font-face {
	font-family: 'HelveticaNeueBold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/HelveticaNeue/helvetica-neue-bold.ttf') format('truetype'); 
}

@font-face {
	font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue/BebasNeue-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BebasNeue/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BebasNeue/BebasNeue-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BebasNeue/BebasNeue-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

/*===========================
	GENERAL
===========================*/

html, body {
	font-family: 'HelveticaNeue', sans-serif;
	font-weight: 400;
	font-size: 100%;
	font-size: 1.4rem;
	color: #0b0b0b;
	min-width: 225px;
	overflow: auto;
	overflow-x: hidden;
}

body > nav{
	overflow: hidden;
}

html {
	font-size: 62.5%;
	outline: 0;
	vertical-align: baseline;
	white-space: normal;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure {
	margin: 0;
}

img {
	margin: 0;
	max-width: 100%;
	height: auto;
}

a, a:focus, a:hover {
	text-decoration: none;
	outline: 0;
}

a:focus, a:hover {
	color: #A5A5A6;
}

h1 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 6rem;
	line-height: 1.4;
	color: #0b0b0b;
}

h2 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 3.5rem;
	line-height: 1.4;
	color: #0b0b0b;
}

h3 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 3rem;
	line-height: 2;
	color: #ebebeb;
}

h4 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 2.2rem;
	line-height: 1.8;
	color: #ebebeb;
}

h5 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 1.7rem;
	line-height: 1.3;
	color: #ebebeb;
}

h6 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 1rem;
	color: #777;
}

p {
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 2;
	text-align: justify;
	color: #646464;
	overflow: hidden;
}

.form-group{
	margin-bottom: 13px;
}

.container-fluid{
	max-width: 1170px;
}

.negrita {
	font-family: 'HelveticaNeueBold', sans-serif !important;
	font-weight: bold;
}

.boton {
	width: auto;
	font-size: 1.8rem !important;
	font-family: 'BebasNeue', sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	padding: 15px 72px;
	border-radius: 0 !important;
	text-align: center;
	color: #FFF;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #428bca;
	overflow: hidden;
	display: inline-block;
	position: relative;
	border: 0;
}

.boton:before{
	position: absolute;
	pointer-events: none;
	z-index: 10;
	content: '';
	top: 0%;
	left: -100%;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #757575;
	-webkit-transition: left 0s;
	-moz-transition: left 0s;
	transition: left 0s;
}
.boton:after{
	position: absolute;
	pointer-events: none;
	z-index: 10;
	content: '';
	bottom: 0%;
	left: 0%;
	right: 100%;
	display: block;
	height: 8px;
	background-color: #343538;
	-webkit-transition: right 0.45s;
	-moz-transition: right 0.45s;
	transition: right 0.45s;
}

.boton:hover::before{
	left: 100%;
	-webkit-transition: left 0.6s;
	-moz-transition: left 0.6s;
	transition: left 0.6s;
}
.boton:hover::after{
	right: 0%;
	-webkit-transition: right 0.6s;
	-moz-transition: right 0.6s;
	transition: right 0.6s;
}

.boton:hover, .boton:focus  {
	color: #FFF;
	outline: none !important;
}

.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn{
	background-color: #cbcaca;
	pointer-events: none !important;
}

.underline {
	width: 100px;
	height: 3px;
	background-color: #d90301;
	margin: auto;
}

.underline-full {
	width: 100%;
	height: 2px;
	background-color: #d90301;
	margin: auto;
}

.no-scroll{
	overflow-y: hidden; 
}


@media (max-width: 480px){
	.boton{
		display: block;
		width: 100%;
	}
}


/*ICONOS SPRITE
-----------------*/

.iconSprite {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
}

.iconSprite span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	opacity: 0;
	transition:opacity 0.5s;
	/* -webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s; */
}

.iconSprite span:hover {
	opacity: 1;
}

input:required:focus, textarea:required:focus {
	box-shadow: none !important;
	border: 1px solid #d90301 !important;
	outline: none;
}

/* FOOTER HOME
----------------*/

#footer-home{
	background-color: #232323;
	overflow: hidden;
}


#footer-home .fila-copyright{
	text-align: right;
}

.linkAvisoLegal {
	padding-right: 40px;
	color: #888888;
	vertical-align: top;
	line-height: 47px;
}


/* FOOTER INTERIOR
--------------------*/

#footer-intSection {
	background-color: #343538;
	padding-top: 15px;
	padding-bottom: 15px;
}

#footer-intSection h6{
	font-size: 2rem;
}


/* AVISO LEGAL
---------------*/

.col-avisoLegal-texto p {
	font-size: 12px !important;
}
.col-avisoLegal-texto li {
	font-size: 12px !important;
	margin-bottom: 10px;
	line-height: 1.8;
}
.col-avisoLegal-texto .titSecc {
	font-weight: bold;
}
.col-avisoLegal-texto .titSubSecc {
	padding-left: 10px;
	font-weight: bold;
	font-style: italic;
}



/*===========================
	NAVBAR
===========================*/

.navbar {
	min-width: 225px;
	background-color: #FFF;
	filter:alpha(opacity=100); /* IE */
	-moz-opacity: 1; /* Mozilla */
	opacity: 1; /* CSS3 */
	border-bottom: none;
}   

.navbar-brand{
	height: auto;
	padding: 14px 15px 14px 31px;
	min-height: 80px;
	position: relative;
	z-index: 2;
}

.navbar-brand img {
	height: 47px;
}

.navbar-toggle {
	margin-top: 24px;
}

.navbar-nav > li {
	margin-top: 10px;
	margin-right: 15px;
}
.navbar-nav > li:first-child {
	display: none;
}

.navbar-default{
	min-height: 80px;
}

.navbar-default .navbar-nav > li > a {
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 15px;
	display: inline;
	color: #0b0b0b;
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #A5A5A6 !important;
}

.navbar-default .navbar-nav > .active > a {
	background-color: transparent !important;
	background-image: url('../../img/main/ic_ball_botonera_blue.png');
	background-repeat: no-repeat;
	background-position: 99% 30%;
    background-size: 7px;
}

.navbar-default .navbar-nav > .active > a[href="#Home-section"] {
	background-color: transparent !important;
	background-image: none;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	margin: 22px 0;
}

@media only screen and (min-width: 769px){
	
	.navbar-brand
	{
		height: auto;
		margin: auto;
		padding: 14px 15px 14px 31px;
	}

	.navbar .navbar-collapse {
		text-align: center;
		width: calc(100% - 164px);
		-webkit-width: calc(100% - 164px);
		-moz-width: calc(100% - 164px);
		-o-width: calc(100% - 164px);
		float: left;
	}

	.navbar-nav:first-child li {
		margin-left: 15px;
		margin-top: 10px;
	}

	.navbar-nav > li > a {
		padding: 10px 12px 5px 0 !important;
	}

	.navbar-nav > li:first-child a {
		padding-left: 10px !important;
	}
}

@media only screen and (max-width: 1039px){

	.navbar-header{
		float: none;
	}

	.navbar{
		background-color: #ffffff;
	}
	
	.navbar-brand{
		background-color: #ffffff;
	}

	.navbar .navbar-nav {
		display: inherit;
		margin: inherit;
	}

	.navbar-default .navbar-brand:hover, 
	.navbar-default .navbar-brand:focus{
		background-color: #ffffff;
	}
	.navbar-default .navbar-toggle.collapsed:hover, 
	.navbar-default .navbar-toggle.collapsed:focus{
		background-color: #428bca;
	}
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus{
		background-color: #ffffff;
	}

	.navbar-toggle {
		margin-top: 24px;
		width: 60px;
		height: 60px;
		padding: 20px;
		margin: 5px;
		margin-right: 20px;
		background-color: #ffffff;
		border: 0;
		border-radius: 50%;
		z-index: 4;
	}
	.navbar-toggle.collapsed {
		background-color: #428bca;
	}
	
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff;
	}
	.navbar-toggle.collapsed .icon-bar,
	.navbar-toggle .icon-bar{
		display: block;
	    height: 4px;
	    border-radius: 0;     
	}
	.navbar-toggle.collapsed:hover .icon-bar{
		width: 100% !important; 
		transition: all 0.3s;  
		-webkit-transition: all 0.3s;
		-moz-transition:    all 0.3s;
		-o-transition:      all 0.3s;
	}
	.navbar-toggle.collapsed .icon-bar:first-child{
	    width: 50%;
	    transition: all 0.3s;
	    -webkit-transition: all 0.3s;
		-moz-transition:    all 0.3s;
		-o-transition:      all 0.3s;
	    transform: translateY(0px) rotate3d(0,0,0,0deg);
	    -webkit-transform: translateY(0px) rotate3d(0,0,0,0deg);
	    -ms-transform: translateY(0px) rotate3d(0,0,0,0deg);
	    background-color: #fff;
	}
	.navbar-toggle.collapsed .icon-bar:nth-child(2){
	    width: 85%;
	    transition: all 0.3s;
	    -webkit-transition: all 0.3s;
		-moz-transition:    all 0.3s;
		-o-transition:      all 0.3s;
	    transform: translateY(0px) rotate3d(0,0,0,0deg);
	    -webkit-transform: translateY(0px) rotate3d(0,0,0,0deg);
	    -ms-transform: translateY(0px) rotate3d(0,0,0,0deg);
	    background-color: #fff;
	}
	.navbar-toggle.collapsed .icon-bar:last-child{
	    width: 70%;
	    transition: all 0.3s;
	    -webkit-transition: all 0.3s;
		-moz-transition:    all 0.3s;
		-o-transition:      all 0.3s;
	    transform: translateY(0px) rotate3d(0,0,0,0deg);
	    -webkit-transform: translateY(0px) rotate3d(0,0,0,0deg);
	    -ms-transform: translateY(0px) rotate3d(0,0,0,0deg);
	    background-color: #fff;
	}
	.navbar-toggle.collapsed .icon-bar+.icon-bar {
	    margin-top: 4px;
	}

	.navbar-toggle .icon-bar:first-child{
	    width: 100%;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
		-moz-transition:    all 0.5s;
		-o-transition:      all 0.5s;
	    transform: translateY(8px) rotate3d(0,0,1,-45deg);
	    -webkit-transform: translateY(8px) rotate3d(0,0,1,-45deg);
	    -ms-transform: translateY(8px) rotate3d(0,0,1,-45deg);
	    background-color: #555;
	}
	.navbar-toggle .icon-bar:nth-child(2){
	    width: 100%;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
		-moz-transition:    all 0.5s;
		-o-transition:      all 0.5s;
	    transform: translateY(0px) rotate3d(0,0,1,-45deg);
	    -webkit-transform: translateY(0px) rotate3d(0,0,1,-45deg);
	    -ms-transform: translateY(0px) rotate3d(0,0,1,-45deg);
	    background-color: #555;
	}
	.navbar-toggle .icon-bar:last-child{
	    width: 100%;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
		-moz-transition:    all 0.5s;
		-o-transition:      all 0.5s;
	    transform: translateY(-8px) rotate3d(0,0,1,45deg);
	    -webkit-transform: translateY(-8px) rotate3d(0,0,1,45deg);
	    -ms-transform: translateY(-8px) rotate3d(0,0,1,45deg);

	    background-color: #555;
	}

	.navbar-collapse{
		top: 0;
		background-color: #000;
	    border: 0;
	    max-height: inherit;
	}

	.navbar-fixed-top .navbar-collapse, 
	.navbar-fixed-bottom .navbar-collapse{
		max-height: inherit;
		height: 100vh !important;
		overflow-y: hidden;
		width: 100%;
		float: none;
	}

	.navbar-nav > li:first-child {
		display: block;
	    margin: 15% 22% 1.5rem;
		text-align: right;
	}

	.navbar-nav > li + li {
		margin: 1rem 22% 1.5rem;
		text-align: right;
	}

	.navbar-default{
		min-height: 80px;
	}

	.navbar-default .navbar-nav > li > a {
		font-family: 'BebasNeue', sans-serif;
		font-size: 5rem;
		display: inline-block;
		color: #ffffff;
		padding-top: 10px;
		padding-bottom: 5px;
	}
}

@media only screen and (max-width: 480px){
	.navbar-default .navbar-nav > li > a {
		font-size: 2.7rem;
	}
	.navbar-toggle.collapsed .icon-bar+.icon-bar{
		margin-top: 4px;
	}
	.navbar-toggle{
		width: 60px;
		height: 60px;
	}
	.navbar-brand{
		padding: 16px 15px 7px 31px;
	}
	.navbar-nav > li:first-child {
	    margin: 2% 22% 1.5rem;
	}
}

@media only screen and (max-width: 345px){
	.navbar-nav > li:first-child {
	    margin: 5% 12% 0.5rem;
	}
	.navbar-nav > li + li{
		margin: 0.5rem 12% 0.5rem;
	}
}


/*===========================
	HOME
============================*

/* **************************
  Preload
************************** */
#preload-section{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #000;
}

#preload-section .container-preload{
	text-align: center;
	display: table;
	height: 100%;
	width: 100%;
}

#preload-section .container-row{
	margin-top: 100px;
	position: relative;
	background-image: url('../../img/main/basic-logo-one-home.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	min-height: 410px;
}

#preload-section .container-row img{
	position: absolute;
    top: 75%;
    left: 47.5%;
    width: 5%;
}
#progressbar{
	height: inherit;
}
#progressbar p{
	color: #428bca;
	font-size: 3rem;
	font-weight: bold;
}
.progress-label {
	background-color: #428bca;
	width: 0%;
	height: 5px;
}

@media only screen and (max-width: 345px){
	#preload-section .container-row{
		margin-top: 0px;
		min-height: 350px;
	}
}

/* **************************
  Home section
************************** */

#Home-section{
	overflow: hidden;
}

/* Slider Home */

#sliderHome {
	min-width: 225px;
	margin: 0 !important;
	background-image: url('../../img/main/purse.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

#sliderHome .sp-slides{
	z-index: -2;
}


#sliderHome .layer-colored-video{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.6);
	z-index: 3;
}

.sliderHomeTextBlock {
	background-color: transparent;
	position: absolute;
	z-index: 9;
	top: 0;
	width: 100% !important;
	height: 100%;
	padding: 15% 0;
	text-align: center;
}

.sliderHomeTextBlock h2 {
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 3.5rem;
	margin: 0;
	margin: 5px 15px 0 15px;
	line-height: 0;
}

.sliderHomeTextBlock h2.h2titSlider {
	font-family: 'BebasNeue', sans-serif;
	line-height: 1.4;
	display: inline;
	padding-right: 26px !important;
	background-image: url('../../img/main/bola-menu-blue.png');
	background-repeat: no-repeat;
	background-position: right top;
	margin: 5px 0 0 26px;
	font-size: 12rem;
	color: #757575;
}

#scroll-zone{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100px;
	bottom: 0;
	z-index: 10;
}
#scroll-icon{
	-webkit-animation: scroll 2000ms cubic-bezier(0,0,.18,1) infinite 999ms;
	animation: scroll 2000ms cubic-bezier(0,0,.18,1) infinite 999ms;
}
#scroll-zone #scroll-icon{
	display: block;
	position: absolute;
	bottom: 100%;
	left: 50%;
	height: 12px;
	width: 17px;
	margin-left: -2px;
	margin-bottom: 36px;
	border-radius: 12px;
	opacity: 0;
	-webkit-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);
}
#scroll-zone #scroll-icon:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 3px;
	background-color: #000;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#scroll-zone #scroll-icon:after{
	left: auto;
	right: 0;
	content: '';
	position: absolute;
	top: 0;
	width: 15px;
	height: 3px;
	background-color: #000;
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#scroll-zone .track{
	position: absolute;
	top: 0;
	left: 50%;
	width: 3px;
	height: 100%;
	-webkit-transform: translate(-100%,0);
	-ms-transform: translate(-100%,0);
	transform: translate(-100%,0);
}
#scroll-zone .track .track-inner{
	background-color: rgba(0,0,0,0.4);
	visibility: visible;
	opacity: 1;
}

.track .track-inner{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.track .fill{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #757575;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

@media only screen and (min-width: 1921px){

}

@media only screen and (max-width: 1024px) and (orientation: landscape){

}

@media only screen and (max-width: 1024px){
	.boton#form-submit{
		padding: 15px 56px;
	}
}

@media only screen and (max-width: 768px) and (orientation: portrait){
	.sliderHomeTextBlock{
		padding: 50% 0;
	}
}

@media only screen and (max-width: 768px){	

}

@media only screen and (max-width: 584px){
	.sliderHomeTextBlock h1 {
		font-size: 4.5rem !important;
		background-size: 12px;
	}
	.sliderHomeTextBlock h2 {
		line-height: 1;
		font-size: 2.7rem !important;
	}
}

@media only screen and (max-width: 480px){
	.sliderHomeTextBlock {
		padding: 60% 0;
	}
}

@media only screen and (max-width: 345px){
	.sliderHomeTextBlock h1 {
		font-size: 3.5rem !important;
	}
	.sliderHomeTextBlock h2 {
		font-size: 2rem !important;
	}
}

@media only screen and (max-width: 275px){
	.sliderHomeTextBlock h1 {
		font-size: 2.7rem !important;
	}
	.sliderHomeTextBlock h2 {
		font-size: 1.8rem !important;
	}
}

/* **************************
 Services-section
************************** */

.col-services-texto h5 {
	font: 300 6.4rem 'BebasNeue', sans-serif;;
	margin-top: 0;
	color: #757575;
	max-width: 400px;
	line-height: 55px;
	white-space: initial;
}

/* **************************
  About section
************************** */


#about-section {
	padding: 80px 0 10px;
}

.fila-titulo-about {
	margin-bottom: 40px;
}

.fila-titulo-about h3 {
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 10px;
	color: #0b0b0b;
}

.container-about {
	padding-bottom: 30px;
}

.col-about-icons{
	background-image: url('../../img/main/circle-about-us.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: relative;
	padding-top: 35px;
}

.col-about-icons h1{
	text-align: center;
	font:300 6.4rem 'BebasNeue', sans-serif;
	color: #757575;
	max-width: 400px;
    margin: 50px auto 50px;
}

.col-about-texto {
	padding-left: 25px;
	padding-right: 25px;
	min-height: 475px;
}

.col-about-texto p {
	font-size: 1.4rem;
	max-width: 80%;
	margin: 0 10% 50px;
}

.fila-btn-about {
	padding-top: 20px;
}


@media (max-width: 992px){
	.col-about-icons{
		margin-bottom: 80px;
	}
	.col-about-texto{
		min-height: 250px;
	}
	
}
@media (max-width: 768px){
	#about-section{
		padding: 40px 0;
	}
}

@media (max-width: 480px){
	#about-section{
		padding: 80px 0;
	}
	.col-about-icons h1{
		font-size: 4rem;
		margin-top: 20px;
		text-align: center;
	}
	
	.col-about-texto p{
		max-width: 100%;
		margin: 0 0 30px;
		line-height: 1.8;
		font-size: 1.3rem;
	}
}

@media only screen and (max-width: 345px){

}

@media (max-width: 320px){
	.col-about-texto{
		padding: 0;
	}
}

/* **************************
 Newsletter section
************************** */

#newsletter-section {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f3f3f3;
	text-align: center;
}

#newsletter-section .region-title {
	font-size: 3.6rem !important;
	font-weight: 300;
	font-family: 'BebasNeue', sans-serif;
	color: #1b1b1b;
	padding-bottom: 30px;
}

#newsletter-section .form-control {
height: 52px;
}


#newsletter-section .form-newsletter {
	padding-bottom: 30px;
   display: inline-block;
   width: 60%;

}

@media (max-width: 480px){
	#newsletter-section .form-newsletter {
		padding-bottom: 30px;
	   	display: inline-block;
	   	width: 100%;

	}
}

#newsletter-section .button {
	    width: auto;
    font-size: 1.6rem !important;
    font-family: 'BebasNeue', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    border-radius: 0 !important;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #428bca;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.input-group-btn-newsletter {
	padding-left: 8px;
}

/* **************************
 Services section
************************** */

#services-section {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #f3f3f3;
}


#services-section h1 {
	text-align: left;
	font: 300 6.4rem 'BebasNeue', sans-serif;
	color: #757575;
	max-width: 400px;
}

.col-services-texto {
	padding-left: 25px;
	padding-right: 25px;
}

.col-services-texto p {
	color: #646464;
	max-width: 400px;
	text-align: justify;
	margin-top: 28px;
}
.col-services-texto ul{
	margin-top: 30px;
}

.col-services-texto ul li a{
	font-family: 'BebasNeue', sans-serif;
	font-size: 1.8rem;
    color: #646464;
    line-height: 35px;
	cursor: pointer;
	transition: all 0.2s;
    /* -webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	-o-transition:      all 0.2s; */
}

.col-services-texto ul li a:hover{
	opacity: 0.8;
	transition: all 0.2s;
	/* -webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	-o-transition:      all 0.2s; */
}

.col-services-texto ul li a.active{
	color: #428bca;
}

.mirror{
	font-family: 'BebasNeue', sans-serif;
	font-size: 1.4rem;
	display: inline-block;
	min-width: 176px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;
	margin-right: 10px;
	opacity: 0.5;
}

.col-services-icons{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: relative;
	min-height: 600px;
}

.col-services-icons > img{
	position: relative;
	z-index: 1;
}

.col-services-icons .absolute-layer-services{
	position: absolute;
	width: 100%;
	height: 100%;
	top: -68px;
    left: 110px;
	z-index: 2
}
.absolute-layer-services > div{
	height: 530px;
	width: 530px;
	position: absolute;
	top: 0;
	background-color: #428BCA;
	border-radius: 100%;
	padding: 70px;
	transition: all 0.75s;
	-webkit-transition: all 0.75s;
	-moz-transition:    all 0.75s;
	-o-transition:      all 0.75s;
	transform: scale3d(0,0,0);
	-webkit-transform: scale3d(0,0,0);
	-ms-transform: scale3d(0,0,0);
}

.absolute-layer-services > div h4{
	color: #ffffff;
	text-align: center;
	font-size: 4rem;
}

.absolute-layer-services > div p{
	color: #ffffff;
}

.absolute-layer-services .current{
	z-index: 4;
	transition: all 0.75s;
	-webkit-transition: all 0.75s;
	-moz-transition:    all 0.75s;
	-o-transition:      all 0.75s;
	transform: scale3d(1,1,1);
	-webkit-transform: scale3d(1,1,1);
	-ms-transform: scale3d(1,1,1);
}

.container-nav-triggers{
	display: none;
	position: relative;
	width: 100%;
	bottom: -50px;
	text-align: center;
}
.content-text-empresa .container-nav-triggers{
	bottom: 0px;
}
.container-nav-triggers .prev-arrow{
	width: 21px;
	height: 21px;
	margin: 0 10px;
	background-image: url('../../img/main/flecha-ant-blue.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	cursor: pointer;
}
.container-nav-triggers .next-arrow{
	width: 21px;
	height: 21px;
	margin: 0 10px;
	background-image: url('../../img/main/flecha-sig-blue.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	cursor: pointer;
}

.container-nav-triggers .prev-arrow-des{
	width: 21px;
	height: 21px;
	margin: 0 10px;
	background-image: url('../../img/main/flecha-ant-desact.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	
}
.container-nav-triggers .next-arrow-des{
	width: 21px;
	height: 21px;
	margin: 0 10px;
	background-image: url('../../img/main/flecha-sig-desact.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	
}

.col-block-servicio {
	padding: 15px;
}

.col-block-servicio h5 {
	font-size: 1.4rem !important;
	margin-top: 5px;
}

@media (max-width: 992px){
	#services-section h1{
		max-width: 80%;
    	margin: 20px 10% 10px;
		text-align: center;
	}
	#services-section p{
		max-width: 80%;
    	margin: 28px 10% 10px;	
	}
	.col-services-texto ul{
		max-width: 80%;
    	margin: 30px 10% 0px;
    	text-align: center;
	}
	.col-services-texto ul li{
		overflow: hidden;
	}
	.col-services-texto ul li span{
		width: 48%;
		float: left;
		text-align: left;
	}
	.col-services-texto ul li span.mirror{
		margin: 0 10px 0 0;
	}
	.col-services-icons{
		min-height: inherit;
	}
	.col-services-icons > img{
		max-width: 60%;
		margin: 16px 20%;
	}
	.col-services-icons .absolute-layer-services{
		max-width: 60%;
		margin: 0 20%;
		top: 0;
    	left: 50px;
	}
	.absolute-layer-services > div{
		right: 20px;
		width: 100%;
		padding: 50px;
	}
	.absolute-layer-services > div h4{
		font-size: 3rem;
	}
	#services-section .absolute-layer-servicies > div p{
		max-width: 100%;
		margin: 0 0 10px;
	}
}
@media (max-width: 768px){
	.col-services-texto ul{
		max-width: 100%;
		margin: 30px 0px 0px;
	}
	.col-services-icons > img{
		max-width: 80%;
		margin: 16px 10%;
	}
	.col-services-icons .absolute-layer-services{
		max-width: 80%;
		margin: 0 10%;
	}
	.absolute-layer-services > div h4{
		font-size: 4vw;
	}
	#services-section .absolute-layer-services > div p{
		margin: 28px 0 10px;
		font-size: 2vw;
	}
}

@media (max-width: 480px){
	#services-section{
		padding-top: 80px;
		padding-bottom: 100px;
	}

	#services-section h1{
		max-width: 100%;
    	margin: 20px 0% 10px;
	}
	#services-section p{
		max-width: 100%;
    	margin: 20px 0% 10px;
	}
	.col-services-texto ul{
		max-width: inherit;
		width: calc(100% + 120px);
		-webkit-width: calc(100% + 120px);
		-moz-width: calc(100% + 120px);
		-o-width: calc(100% + 120px);
		position: relative;
		right: 60px;
	}
	.col-services-texto ul li{
		font-size: 1.4rem;
	}
	.col-services-icons > img{
		max-width: 100%;
		margin: 16px 0%;
	}
	.col-services-icons .absolute-layer-services{
		max-width: 100%;
		margin: 0;
	}
	.mirror{
		font-size: 1.2rem;
	}
	.col-services-icons .absolute-layer-services{
		top: 0;
		left: 0;
	}
	.absolute-layer-services > div{
		height: auto !important;
		border-radius: 15px;
		padding: 30px 20px 10px;
		right: 0;
	}
	.absolute-layer-services > div h4{
		margin: 0;
		font-size: 2rem;
		display: none;
	}
	#services-section .absolute-layer-services > div p{
		margin: 0;
		font-size: 1.2rem;
		line-height: 2.5;
	}
	.container-nav-triggers{
		display: block;
	}
}

@media (max-width: 320px){
	.col-services-texto{
		padding: 0;
	}
	
	.col-services-texto ul li{
		font-size: 1.8rem;

	}
	.col-services-texto ul li span{
		width: 100%;
		text-align: center;
	}
	.mirror{
		display: none;
	}

	#services-section .absolute-layer-services > div p{
		line-height: 1.7;
	}
	.absolute-layer-services > div{
		padding: 30px 10px 10px;
	}
}

/* **************************
  Projects section
************************** */

#que-projects-section {
	background-color: #fff;
}

#sliderProjects{
	width: 50% !important;
}
#sliderProjects.slider-pro{
	box-sizing: border-box;
}
#sliderProjects .sp-button.sp-selected-button{
	background-color: #428BCA;
}
#sliderProjects .sp-button{
	background-color: #fff;
	width: 11px;
	height: 11px;
}
#sliderProjects .sp-buttons{
	position: absolute;
	bottom: 0;
	max-width: 1170px;
}
.content-text-projects{
	overflow: hidden;
	float: right;
}
.sp-projects-img{
	height: 100%;
}
.sp-projects-img.img-1{
	background: url('../../img/main/social-media-jmexclusives-project.png') no-repeat;
	background-size: cover;
	background-position: center;	
}
.sp-projects-img.img-2{
	background: url('../../img/main/social-networking-2Shahid-Abdullah-project.jpg') no-repeat;
	background-size: cover;
	background-position: center;		
}
.sp-projects-img.img-3{
	background: url('../../img/main/woman-Gerd-Altmann-project.jpg') no-repeat;
	background-size: cover;
	background-position: bottom;		
}
.sp-projects-img.img-4{
	background: url('../../img/main/social-media-jmexclusives-project.png') no-repeat;
	background-size: cover;
	background-position: center;		
}

.layer-projects h5 {
	font: 300 6.4rem 'BebasNeue', sans-serif;
	margin-top: 0;
	color: #757575;
	max-width: 400px;
	line-height: 55px;
	white-space: initial;
}

.layer-projects p span{
	margin-top: 30px;
}

.layer-projects p {
	white-space: normal;
	max-width: 400px;
}

.layer-projects {
	padding: 150px 100px 130px;
}

.btn-projects.only-mobile{
	display: none;
}
.btn-projects.only-desktop{
	display: block;
}

@media (max-width: 992px){
	#sliderProjects{
		width: 100% !important;
	}
	.sp-mask{
		height: 650px !important;
	}
	.sp-slide{
		height: 650px !important;
	}
	.layer-projects{
		padding: 100px 70px 10px;
	}
	.layer-projects h5 {
		max-width: inherit;
	}
	.layer-projects p {
		max-width: inherit;
	}
	.btn-projects.only-mobile{
		display: block;
		position: relative;
		max-width: 40%;
		margin: 0 auto 40px;
		top: 20px;
	}
	.btn-projects.only-desktop{
		display: none;
	}

}
@media (max-width: 768px){
	#sliderProjects{
		width: 100% !important;
	}
	.sp-mask{
		height: 500px !important;
	}
	.sp-slide{
		height: 500px !important;
	}
	.layer-projects{
		padding: 90px 40px 20px; 
	}
	.layer-projects h5{
		max-width: inherit;
	}
	.layer-projects p{
		max-width: inherit;
	}
}
@media (max-width: 480px){
	.btn-projects.only-mobile{
		max-width: 73%;
	}
}
@media (max-width: 320px){
	.layer-projects{
		padding: 90px 15px;
	}
	.btn-projects.only-mobile{
		max-width: inherit;
	}
}

/* **************************
 BasicOne section
************************** */

.content-basicOne {
	width: 100%;
}
#basicOne-section {
	background-color: rgba(242, 242, 242, 0.3);
	padding-top: 0px;
	padding-bottom: 0px;
}

#basicOne-section .title-hastenLab{
	max-width: 287px;
    margin-bottom: 24px;
    margin-top: 20px;
    padding-left: 77px;
}


.col-block-basicOne {
	padding-top: 15px;
	padding-bottom: 15px;
}


.logo-basicOne{
	min-height: 388px;
	padding-top: 120px;
	width: 35%;
}

.logo-basicOne img{
	float:right;

}

.text-basicOne .content-text-basicOne{
	display: none;
	padding: 109px 35px 0px;
	position: absolute;
	top: 0;
	width: 625px;
	font-family: 'HelveticaNeueBold';
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 34px;
	text-align: justify;
	color: #646464;
}
.text-basicOne .content-text-basicOne.current{
	display: block;
	
}

.content-logo-basicOne .block-logo-basicOne{
	width: 100px;
	height: 100px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95%;
	cursor: pointer;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition:    all 0.8s;
	-o-transition:      all 0.8s;
	background-color: transparent;
	border-radius: 50%;
}

.content-logo-basicOne .block-logo-basicOne:hover{
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition:    all 0.8s;
	-o-transition:      all 0.8s;
}

.content-logo-basicOne .block-logo-basicOne.selected{
	top: calc(50% - 50px);
	-webkit-top: calc(50% - 50px);
	-moz-top: calc(50% - 50px);
	-o-top: calc(50% - 50px);
	left: calc(50% - 50px);
	-webkit-left: calc(50% - 50px);
	-moz-left: calc(50% - 50px);
	-o-left: calc(50% - 50px);
	background-size: 95%;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition:    all 0.8s;
	-o-transition:      all 0.8s;
}

.content-logo-basicOne .block-logo-basicOne img{
	padding: 20px 0;
}

.content-basicOne {
	width:100%;
}

.content-text-basicOne p{
  width: 100%;
  font-family: 'BebasNeue', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.43;
  text-align: justify;
  color: #646464;
}

@media (max-width: 992px){
	.text-basicOne .content-text-basicOne{
		padding: 20px 0px;
		width: 100%;
		margin: 0 auto;
		position: static;
	}
	.content-text-basicOne h4{
		max-width: inherit;
	}
	.content-text-basicOne h5{
		max-width: inherit;
	}
	.content-text-basicOne p{
		max-width: inherit;
		    padding-left: 5%;
	}

}
@media (max-width: 768px){

}

@media (max-width: 480px){
	#basicOne-section{
		padding-top: 40px;
	}
	.content-text-basicOne h5{
		font-size: 5rem;
	}
	.text-basicOne .content-text-basicOne{
		width: 100%;
		padding: 20px 25px;
		
	}
}


@media (max-width: 320px){
	.content-text-basicOne h5{
		word-break: break-all;
		font-size: 3rem;
	}
	
	.text-basicOne .content-text-basicOne{
		padding: 20px 0px;
	}
}

/* **************************
 News section
************************** */

#news-section {
	padding: 100px 0;
	overflow: hidden;
}

/* Slider News */

#sliderNews .sp-buttons {
	padding-top: 0;
	text-align: left;
}

#sliderNews .sp-button {
	border: none;
	filter:alpha(opacity=50); /* IE */
	-moz-opacity:0.5; /* Mozilla */
	opacity: 0.5; /* CSS3 */
}

#sliderNews{
	width: 50% !important;
}
#sliderNews.slider-pro{
	box-sizing: border-box;
}

#sliderNews .sp-button{
	background-color: #d8d8d8;
	width: 11px;
	height: 11px;
}

#sliderNews .sp-selected-button {
	filter:alpha(opacity=100); /* IE */
	-moz-opacity:1; /* Mozilla */
	opacity: 1; /* CSS3 */
	background-color: #f04e42 !important;
}

.layer-new h5 {
	text-align: left;
	font: 300 6.4rem 'BebasNeue', sans-serif;
	color: #757575;
	max-width: 400px;
	white-space: normal;
    line-height: 1;
}

.layer-new p {
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 1.4rem;
	line-height: 34px;
	text-align: justify;
	margin: 0;
	color: #646464;
	white-space: normal;
	max-width: 400px;
}

.layer-new {
	width: 100%;
	padding: 0 78px 0 91px;
}

.sp-news-img{
	text-align: right;
}
.sp-news-img img{
	width: 646px;
	position: relative;
	z-index: 1;
}

.sp-news-img .absolute-layer-news{
	position: absolute;
	width: 321px;
	height: 538px;
	border: 1px solid #000;
	top: 48px;
	right: 159px;
	-ms-transform: perspective(2400px) rotateY(39deg) rotateX(33deg) rotateZ(-4deg) translateZ(69px) translateY(-6px);
	-webkit-transform: perspective(2400px) rotateY(39deg) rotateX(33deg) rotateZ(-4deg) translateZ(69px) translateY(-6px); 
	transform: perspective(2400px) rotateY(39deg) rotateX(33deg) rotateZ(-4deg) translateZ(69px) translateY(-6px);
	z-index: 1;
	overflow: hidden;
}
.absolute-layer-news > div{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 538px;
	padding: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.absolute-layer-news .newsOne{
	background-image: url('../../img/main/yoga-bahia-phone.jpg');
	top: 0;
}

.btn-new{
	margin-top: 30px;
}

/* Para la img del movil */
@media (max-width: 1370px){
	.sp-news-img img{
		position: absolute;
		top: 0;
		right: 14px;
		max-width: inherit;
	}
}
@media (max-width: 992px){
	.layer-new{
		padding: 0 78px 0 40px;
	}
	.layer-new h5{
		font-size: 4rem;
	}
}
@media (max-width: 768px){
	#sliderNews{
		width: 100% !important;
		background-color: rgba(255,255,255,0.7);
		z-index: 2;
	}
	#sliderNews .sp-mask{
		min-height: 595px !important;
	}
	#sliderNews .sp-slide{
		min-height: 600px !important;
	}
	.layer-new{
		width: 80% !important;
		margin: auto 10%;
		padding: 0;
	}
	.layer-new h5{
		max-width: inherit;
	}
	.layer-new p{
		max-width: inherit;
	}

	#sliderNews .sp-buttons{
		text-align: center;
	}	
}
@media (max-width: 480px){
	.sp-news-img img{
		right: -34px;
	}
	.sp-news-img .absolute-layer-news{
		right: 111px;
	}
	.layer-new{
		margin: auto 25px;
		width: calc(100%  - 50px) !important;
		-webkit-width: calc(100% - 50px) !important;
		-moz-width: calc(100% - 50px) !important;
		-o-width: calc(100% - 50px) !important;
	}
	body.news-page .container{
		padding: 0;
	}
	body.news-page .container .col-new{
		padding: 0;
	}
	body.news-page .container .col-new h5,
	body.news-page .container .col-new h6,
	body.news-page .container .col-new p{
		padding: 0 30px;
	}

	#sliderNews .sp-button{
		background-color: #c8c8c8;
	}
}

@media (max-width: 320px){
	.layer-new{
		margin: auto 0;
		width: 100% !important;
	}
	.sp-news-img img{
		right: -64px;
	}
	.sp-news-img .absolute-layer-news{
		right: 84px;
	}
}

/* **************************
 Work section
************************** */

#work-section{
	padding: 140px 0 150px;
	background-image: url('../../img/main/jovenes-estudiantes-sun.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.layer-work {
	width: 50%;
	padding: 0 66px 0 106px;
	float: right;
}

.layer-work h3{
	text-align: left;
	font: 300 6.4rem 'BebasNeue', sans-serif;
	color: #757575;
	text-shadow:2px 2px #428BCA;
	line-height: 68px;
}

.layer-work p{
	font-family: 'HelveticaNeueBold', sans-serif;
	text-shadow:0px 1px 0 #404142;
}

.btn-work{
	margin-top: 30px;
	padding: 15px 54px;
	margin-right: 15px;
}
.btn-work.last{
	margin-right: 0 !important;
}


@media (max-width: 992px){
	#work-section{
		background-position: center left;
	}
	.layer-work{
		width: 100%;
		padding: 0 74px;
		margin: 0 auto;
	}
	.layer-work h3,
	.layer-work p{
		color: #ffffff;
	}
}
@media (max-width: 768px){

}
@media (max-width: 480px){
	#work-section{
		padding: 70px 0 80px 0;
		background-image: url('../../img/main/jovenes-estudiantes-sun.jpg');
		background-attachment: inherit;
	}
	.layer-work{
		padding: 0 40px;
	}
	
}

@media (max-width: 320px){
	.layer-work{
		padding: 0;
	}
}

/* **************************
 Contact section
************************** */

#contact-section {
	padding-top: 40px;
	padding-bottom: 80px;
}


.fila-titulo-contact h3 {
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 10px;
	color: #fff;
}

#contact-section article {
	position: absolute;
	width: 100%;
	z-index: 4;
	margin-top: 35px;
	padding: 15px;
}
.col-contact-left .contact-box:last-child .region-title {
	margin-top: 30px;
}
.col-contact-left {
	padding-left: 15px;
}
.col-contact-right{
	float: right;
	padding-right: 50px;
}

.col-contact-left, .col-contact-right {
	margin-top: 30px;
}

.col-contact-left .col-izda-izda, .col-contact-left .col-izda-dcha  {
	padding-left: 0;
}

#contact-section .ciudad-title + ul {
	text-align: left;
}

#contact-section .region-title {
	font-size: 3.6rem !important;
	line-height: 1 !important;
	font-weight: 600;
	font-family: 'BebasNeue', sans-serif;
	color: #1b1b1b;
}

#contact-section .ciudad-title {
	font-size: 1.4rem !important;
	line-height: 1 !important;
	margin-top: 20px;
	margin-bottom: 7px;
	font-family: 'HelveticaNeueBold', serif;
	color: #1b1b1b;
	text-align: left;
}

#contact-section li{
	line-height: 1.75;
	text-align: left;
	color: #1b1b1b;
}

#form-submit{
	padding: 10px 0 !important;
	width: 100%;
}

/*Fila redes sociales*/

.fila-redes {
	margin: 17px 0;
	height: 40px;
}

.fila-redes-der {
	margin: 17px 0;
}

.fila-redes-izq {
	margin: 17px 0;
	float:left;
	width:50%;
}

.iconRedes {
	width: 42px;
	height: 40px;
	background-size: cover !important;	
}

.iconRedes + .iconRedes{
	margin-left: 15px;
}

.iconRedes span {
	background-position: -42px 0 !important;
	background-size: cover !important;
}

.iconRed-1, .iconRed-1 span {
	background: url(../../img/main/facebook.png) no-repeat;
}
.iconRed-2, .iconRed-2 span {
	background: url(../../img/main/twitter.png) no-repeat;
}
.iconRed-3, .iconRed-3 span {
	background: url(../../img/main/google.png) no-repeat;
}
.iconRed-4, .iconRed-4 span {
	background: url(../../img/main/linkedin.png) no-repeat;
}
.iconRed-5, .iconRed-5 span {
	background: url(../../img/main/youtube.png) no-repeat;
}

/*Formulario de contacto*/

.fila-desc-formulario {
	color: #1b1b1b;
	margin-top: 5px;
	width: 100%;
	float: right;
}

.form-control {
	background-color: transparent;
	border-radius: 0;
	border: solid 1px #757575;
	font-size: 1.2rem !important;
	color: #1b1b1b;
	/* width: 100%; */
	display: inline;
}

.form-control-footer {
	color: #ffffff;
}

textarea.form-control {
	resize: none;
}

#col-msgSubmit {
	padding-right: 0;
}

#col-msgSubmit .h3 {
	margin-top: 12px;
}

#msgSubmit {
	text-align: center;
	font: 300 1.8rem 'BebasNeue', sans-serif;;
}

#col-btnSubmit {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

#col-btnSubmit .form-group{
	margin-bottom: 0;
}


@media (max-width: 1039px){
	.col-contact-right{
		padding-right: 30px;
	}
}

@media (max-width: 768px){
	.col-contact-left,
	.col-contact-right{
		width: 100%;
	}
	#col-msgSubmit{
		padding: 0;
	}
	#msgSubmit{
		text-align: center;
	}
	#col-btnSubmit .boton{
		display: block;
		width: 100%;
	}
	.col-contact-left {
		padding-left: 15px;
	}
	.contact-box {
		padding-left: 0;
	}
	.col-contact-right{
		padding-right: 15px;
	}
}
@media (max-width: 480px){
	#msgSubmit{
		text-align: center;
	}
	#col-msgSubmit{
		width: 100%;
	}
	#col-btnSubmit{
		width: 100%;
	}
	.fila-redes{
		text-align: center;
	}
	.fila-nacional,
	.fila-internacional{
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.fila-internacional{
		margin-top: 30px;
	}
	#contact-section .ciudad-title{
		text-align: center;
	}
	#contact-section li{
		text-align: center;
	}
	.col-contact-left .col-izda-izda, 
	.col-contact-left .col-izda-dcha{
		padding: 0;
	}
}


/*===========================
	NEWS (intro news-beta)
===========================*/
/* **************************
Home section
************************** */
#Home-intSection {
	padding-top: 104px;
}
/* **************************
 New-section
************************** */

#new-intSection {
	padding-top: 129px;
	padding-bottom: 25px;
}

.container-new {
	max-width: 700px;
	margin: 0 auto;
}

.col-new {
	display: none;
}

.img-new {
	width: 100%;
}

.col-new h5 {
	font-size: 3rem;
	line-height: 1.3;
	color: #0b0b0b;
	margin-top: 20px;
}

.col-new h6 {
	font-size: 2rem;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 100;
}

.col-new p {
	font-size: 1.4rem;
	color: #595b61;
	margin-top: 15px;
	text-align: justify;
}

@media (max-width: 320px){
	.col-new h5{
		font-size: 2.5rem;
	}
}

/*===========================
	ERROR 404
============================*/

.error404-section{
	background-image: url('../../img/main/bg-404-big.png');
	background-repeat: no-repeat;
	background-position: center 35%;
	background-size: cover;
	text-align: center;
}
.error404-section > .container{
	padding: 570px 115px 150px; 
}

.error404-section h3{
	font-size: 6.4rem;
	font-weight: 700;
	letter-spacing: 6px;
	margin-bottom: 0;
	color: #ffffff;
}

.error404-section p{
	font-size: 2.4rem;
	font-weight: 400;
	letter-spacing: 0.6px;
	color: #ffffff;
	margin: 0 auto;
	line-height: 1.5;
	max-width: 655px;
	text-align: center;
}
.error404-section .content-button{
	margin-top: 50px;
}

@media (max-width: 992px){
	.error404-section > .container{
		padding: 570px 15px 150px;
	}
}

@media (max-width: 768px){
	.error404-section{
		background-image: url('../../img/main/bg-404.png');;
	}
	.error404-section > .container{
		padding-top: 400px;
	}
}

@media (max-width: 480px){
	.error404-section{
		background-position: center 14%;
	}

	.error404-section > .container{
		padding: 260px 15px 150px;
	}

	.error404-section h3{
		font-size: 4rem;
		line-height: 1.2;
	}

	.error404-section p{
		margin-top: 30px;
		font-size: 1.8rem;
	}
}

@media (max-width: 320px){

	.error404-section > .container{
		padding-top: 200px;
	}
	.error404-section .boton{
		padding: 19px;
	}
	
}

/*===========================
	ERROR 500
============================*/
.error500-section{
	background-image: url('../../img/main/bg-500-big.png');
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: 60%;
	background-color: #060606;
	text-align: center;
}

.error500-section > .container{
	padding: 570px 115px 100px; 
}

.error500-section h3{
	font-size: 6.4rem;
	font-weight: 700;
	letter-spacing: 6px;
	margin-bottom: 0;
	color: #ffffff;
}

.error500-section p{
	font-size: 2.4rem;
	font-weight: 400;
	letter-spacing: 0.6px;
	color: #ffffff;
	line-height: 1.5;
	max-width: 425px;
    margin: 0 auto;
    text-align: center;
}
.error500-section .content-button{
	margin-top: 50px;
}

@media (max-width: 992px){
	.error500-section > .container{
		padding-top: 375px;
	}
}

@media (max-width: 768px){
	.error500-section{
		background-image: url('../../img/main/bg-500.png');
		background-size: 100%;
	}
	.error500-section > .container{
		padding-top: 400px;
	}
}

@media (max-width: 480px){
	.error500-section{
		background-position: center 14%;
	}

	.error500-section > .container{
		padding-top: 260px;
	}
}

@media (max-width: 320px){
	.error500-section h3{
		font-size: 5rem;;
	}

	.error500-section > .container{
		padding-top: 200px;
	}
	.error500-section .boton{
		padding: 19px;
	}
	
}